:root {
  //Colors
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --darkGray: hsl(0, 0%, 55%);
  --veryDarkGray: hsl(0, 0%, 41%);

  //Typografy
  --fontSize: 15px;

  //Fonts
  --fontFamilyJosefin: "Josefin Sans", sans-serif;
  --fontFamilyAlata: "Alata", sans-serif;
}
